*.pyc
*.pyo
*.json
*.png
*.prof
*.yaml
*.pkl
*.csv
*.ckpt
*.log
*.txt
*.TXT
*.prof
*.pkl
*.bag
*.npy 
*.sqsh
*.wandb
*.validate_storage_marker
*.pdf
*.mp4
*.jpg

events.out.*
latest-run

*build*

figure_generation/